// COLORS
$color-primary = #000
$color-primary-light = #000
$color-primary-dark = #000

$color-secondary = #000
$color-secondary-light = #000
$color-secondary-dark = #000

$color-white = #fff
$color-black = #000

// FONT-SIZE
$default-font-size = 1.6rem
