// COLORS
$color-primary = #41B883
$color-primary-light = #64c89b
$color-primary-dark = #349268

$color-secondary = #34495e
$color-secondary-light = #405a74
$color-secondary-dark = #283848

$color-tertiary = #353839
$color-tertiary-light = #282828
$color-tertiary-dark = #121212

$color-white = #fff
$color-black = #000

$color-grey-light-1 = #f7f7f7
$color-grey-light-2 = #eee

$color-grey-dark = #777
$color-grey-dark-2 = #999
$color-grey-dark-3 = #333

// FONT-SIZE
$default-font-size = 1.6rem
